body
    margin: 0;
    padding: 0;
    background: #c9c2c2;

.container
    top: 0;
    width: 30em;
    height: auto;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    // Change display type
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

.grid
    background: #17dfe6;
    width: 50px;
    height: 50px;
    margin: 0 2px;
